
*{
    font-family: 'Ranchers', cursive;
    font-size:1.2vw;
}


body {
  background-color:lightslategray;
  padding: 20px;
  margin: 0;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
  text-align:center;

}
ul.header li a {
  color: darkcyan;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;

}
.content {
  background-color: darkcyan;

}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
 background-color: lightcyan;
}

#main-header {
    display: table;
    margin: 0 auto;
    font-size:2.5vw;
}

.footer {
    text-decoration: none;
    display: table;
    margin: 0 auto;
    font-size:1.2vw;
}

#container {
  position: relative;
  min-height: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

a {
    text-decoration: none;

}


@keyframes App-logo-spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}


/*pages*/

.logos {
    animation: App-logo-spin infinite 5s linear;
    height: 80px;
    display: table;
    margin: 0 auto;
}

.css-page {
    background-color:lightcyan;
    padding: 20px;
}

.html-page{
    padding: 20px;
    background:lightgoldenrodyellow;
}

.git-page{
    padding: 20px;
    background:lightgrey;
}

.react-page{
    padding: 20px;
    background-color:lightskyblue;
}

.javascript-page{
    padding: 20px;
    background-color:lightseagreen;
}

/*home*/

.home-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}

